<div class='container'>
 <div class='row'>
  <div class="mx-auto">
   <br /><br />
   <h2>Sign up<i class='fas fa-user-plus'></i></h2>
   <%= form_with model: resource, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
   <%= render "devise/shared/error_messages", resource: resource %>
   <table class="table">
    <tr>
      <th>氏名</th>
      <td><%= f.text_field :first_name, :placeholder => "(姓)",  autofocus: true %></td>
      <td></td>
      <td><%= f.text_field :last_name, :placeholder => "(名)", autofocus: true %></td>
    </tr>
    <tr>
      <th>フリガナ</th>
      <td><%= f.text_field :first_name_kana, :placeholder => "(セイ)", autofocus: true %></td>
      <td></td>
      <td><%= f.text_field :last_name_kana, :placeholder => "(メイ)", autofocus: true %></td>
    </tr>
    <tr>
      <th>年齢</th><td><%= f.text_field :age, autofocus: true %>歳</td><td></td><td></td>
    </tr>
    <tr>
     <th>出身</th><td><%= f.select :first_address, User.addresses, {prompt: '選択してください'} %></td>
     <th>現住所</th><td><%= f.select :last_address, User.addresses, {prompt: '選択してください'} %></td>
    </tr>
    <tr>
      <th>e-mail</th><td><%= f.email_field :email, autofocus: true, size: "30", autocomplete: "email" %></td><td></td><td></td>
    </tr>
    <tr>
      <th>パスワード</th><td><%= f.password_field :password, autocomplete: "new-password" %></td>
      <th>パスワード(確認)</th><td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
    </tr>
    <tr>
      <td></td><td></td>
      <td><%= f.button :type => "submit", style: 'border-style: none;' do %><i class='fas fa-user-plus btn btn-outline-success'></i><% end %></td>
      <td></td><td></td>
    </tr>
   </table>
  <% end %>
  </div>
 </div>
</div>