<div class='container'>
 <div class='row'>
  <div class="mx-auto">
   <br><h1>車<i class="fas fa-car"></i>詳細</h1></br>
   <table class="table">
    <tr><th>ID</th><td><%= @car.id %></td></tr>
    <tr><th>名前</th><td><%= @car.car_name %></td></tr>
    <tr><th>メーカー</th><td><%= @car.maker %></td></tr>
    <tr><th>ボディ</th><td><%= @car.body_type %></td></tr>
    <tr><th>色</th><td><%= @car.color %></td></tr>
    <tr><th>☆</th><td id="evaluate_stars"></td></tr>
    <tr><th>説明</th><td><%= @car.review %></td></tr>
    <tr>
     <th>投稿者</th>
     <td>
      <% if current_user == @car.user %>
       <%= link_to @car.user.first_name + @car.user.last_name, user_path(@car.user), class: 'text-success' %>
      <% else %>
       <%= link_to @car.user.first_name + @car.user.last_name, user_path(@car.user), class: 'text-secondary' %>
      <% end %>
     </td>
    </tr>
   </table>
   <% if current_user == @car.user %><% else %><%= link_to 'この車の投稿者にDMを送る', chat_path(@user.id)%><% end %>
   <% if @car.favorited_by?(current_user) %>
    <p>
     <%= link_to favorite_path(@car), method: :delete do %>♥<%= @car.favorites.count %> いいね<% end %>
    </p>
   <% else %>
    <p>
     <%= link_to favorites_path(@car), method: :post do %>♡<%= @car.favorites.count %> いいね<% end %>
    </p>
   <% end %>
  </div>
 </div>
</div>

<script>
 $('#evaluate_stars').raty({
 starOn: "<%= asset_path('star-on.png') %>",
 starOff: "<%= asset_path('star-off.png') %>",
 starHalf: "<%= asset_path('star-half.png') %>",
 // scoreName: 'car[star]' //登録するモデル名とカラム名を記述
 half: true,
 readOnly: true,
 score: <%= @car.star %>
 });
</script>