<!DOCTYPE html>
<html>
  <head>
    <title>CarAccess</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <nav class="navbar navbar-expand-lg bg-primary">
     <div class="container">
      <a class="navbar-brand"><%= link_to "Car Access", root_path, class: "nav-link text-light" %></a>
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <% if user_signed_in? %>
         <ul class="navbar-nav ml-auto">
        <li>
         <div class="doropdown-box">
          <div style="position:relative">
           <i class="far fa-bell nav-link text-light" style="position:absolute;font-weight:bold;color:white;font-weight:bold;width:114px;">Message</i>
           <span style="width:8px;height:8px;color:orange;background-color:orange;border-radius:50%;position:absolute;top:6px;left:18px;"></span>
          </div>
          <div class="dropdown" style="width:114px;">
           <button style="opacity:0;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% @notifications.each do |notification| %>
             <a class="dropdown-item" href="#">
              <%= link_to notification.chat.user.first_name + notification.chat.user.last_name, chat_path(notification.chat.user.id) %>さんからDMが届いてます
             </a>
            <% end %>
           </div>
          </div>
         </div>
        </li>
        <li><%= link_to "About",home_about_path, class: "fas fa-link nav-link text-light" %></li>
        <li><%= link_to "Users",users_path, class: "fas fa-users nav-link text-light" %></li>
        <li><%= link_to "Cars",cars_path, class: "fas fa-car nav-link text-light" %></li>
        <li><%= link_to "logout", destroy_user_session_path,class: "fas fa-sign-out-alt nav-link text-light", method: :delete %></li>
       </ul>
       <div class="actions">
        <%= form_with url: search_path, method: :get, local: true do |f| %>
         <%= f.text_field :keyword, :placeholder => "Search", value: @keyword %>
         <%= f.button :type => "submit", style: 'border-style: none;' do %><i class='fas fa-search btn btn-secondary'></i><% end %>
        <% end %>
       </div>
       <% else %>
       <ul class="navbar-nav ml-auto">
        <li><%= link_to "About",home_about_path, class: "fas fa-link nav-link text-light" %></li>
        <li><%= link_to "sign up",new_user_registration_path, class: "fas fa-user-plus nav-link text-light" %></li>
        <li><%= link_to "login",user_session_path, class: "fas fa-sign-in-alt nav-link text-light" %></li>
       </ul>
       <% end %>
      </div>
     </div>
    </nav>
   </header>
   <main><%= yield %></main>
   <footer><div class="footer-text">Car<i class="fas fa-car"></i><strong>Access</div></footer>
  </body>
</html>
